/* ====== GLOBAL ====== */
body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #4B067D, #6A0DAD, #C084FC);
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

/* ====== LOGIN CONTAINER ====== */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login-box {
  background: rgba(255, 255, 255, 0.12);
  padding: 40px;
  width: 380px;
  border-radius: 18px;
  backdrop-filter: blur(10px);}